<div class="container">
	<div class="row">
		<div class="input-form">
      		<section id="content">

      			<h1>活動記録編集</h1>
      			<p>活動時間（分）</p>
				<%= form_for(@record, :url => {controller: "records",method: "patch",action: "update"}) do |f| %>
				<%= f.hidden_field :date, value:@record.date %>
				<%= f.text_field :challenge_time %><br>
				<%= f.submit '更新する' %><br>
				<br>
				<% end %>

			</section>
		</div>
	</div>
</div>