<h1>Habits</h1>

<div class="container">
	<div class="row">

		<% @habits.each do |habit| %>
			<div class="">
				<%= link_to habit_path(habit), class: "" do %>

					<div class="habit_box_index border">
						<div class="habit_image">
							<%= attachment_image_tag habit, :back_image, :fill, 230, 230,class:"habit_image" %>
						</div>
						<div class="habit_name">
							<%= habit.name %><br>
						</div>
					</div>

				<% end %>

			</div>
		<% end %>

	</div>
</div>